<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/locales/nuevo}"
				id="add-row" type="button" class="btn btn-primary">Nuevo</a>
		</div>
		<div>
			<form th:action="@{/locales/buscar}" method="post"
				th:object="${local}">
				<div class="form-group">

					<label for="local">Buscar:</label> <input type="text"
						class="form-control" th:field="*{nombreLocal}" id="local"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/locales/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Locales</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Local</th>
								<th>Distrito</th>
								<th>Direccion</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="local-list">
							<tr th:each="local:${listaLocales}">
								<td th:text="${local.idLocal}"></td>
								<td th:text="${local.nombreLocal}"></td>
								<td th:text="${local.distrito}"></td>
								<td th:text="${local.direccion}"></td>
								<td align="center"><a
									th:href="@{/locales/eliminar?id=}+${local.idLocal}"> 
									<span class="glyphicon glyphicon-trash"></span></a></td>
								<td align="center"><a
									th:href="@{'/locales/detalle/' + ${local.idLocal}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>

