<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Roles de Usuario</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CODIGO</td>
								<td th:text="${rol.id}"></td>
							</tr>
							<tr>
								<td>Nivel de acceso</td>
								<td th:text="${rol.authority}"></td>
							</tr>
							<tr>
								<td>Usuario</td>
								<td th:text="${rol.user_id}"></td>
							</tr>
						</tbody>

					</table>

					<a th:href="@{/roles/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Volver
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
