<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a style="border-bottom-color: green" th:href="@{/eventos/nuevo}"
				id="add-row" type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-plus"></span> Nuevo
			</a>
		</div>
		<div>
			<form th:action="@{/eventos/buscar}" method="post"
				th:object="${evento}">
				<div class="form-group">

					<label for="e">Buscar:</label> <input type="text"
						class="form-control" th:field="*{nombreEvento}" id="e"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/eventos/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>

		<div class="card">
			<div class="card-header text-white bg-primary mb-3">Reporte de
				Eventos</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-primary mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Evento</th>
								<th>Maximo de Participantes</th>
								<th>Total de asistentes</th>
								<th>Fecha</th>
								<th>Local</th>
								<th>Linea</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="evento-list">
							<tr th:each="evento:${listaEventos}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/eventos/ver/} + ${evento.idEvento}"
									th:text="${evento.idEvento}"></a></td>
								<td th:text="${evento.nombreEvento}"></td>
								<td th:text="${evento.maximoParticipantes}"></td>
								<td th:text="${evento.cantidadAsistentes}"></td>
								<td th:text="${#dates.format(evento.fecha,'dd/MM/yyyy')}"></td>
								<td th:text="${evento.local.nombreLocal}"></td>
								<td th:text="${evento.linea.nombreLinea}"></td>
								<td align="center"><a
									th:href="@{/eventos/eliminar?id=}+${evento.idEvento}">
										<span class="glyphicon glyphicon-trash"></span>
								</a></td>
								<td align="center"><a
									th:href="@{'/eventos/modificar/' + ${evento.idEvento}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
