<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Eventos</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CODIGO</td>
								<td th:text="${evento.idEvento}"></td>
							</tr>
							<tr>
								<td>Evento</td>
								<td th:text="${evento.nombreEvento}"></td>
							</tr>
							<tr>
								<td>Maximo de participantes</td>
								<td th:text="${evento.maximoParticipantes}"></td>
							</tr>
							<tr>
								<td>Cantidad de asistentes</td>
								<td th:text="${evento.cantidadAsistentes}"></td>
							</tr>
							<tr>
								<td>Fecha</td>
								<td th:text="${evento.fecha}"></td>
							</tr>
							<tr>
								<td>Local</td>
								<td th:text="${evento.local.nombreLocal}"></td>
							</tr>
							<tr>
								<td>Linea</td>
								<td th:text="${evento.linea.nombreLinea}"></td>
							</tr>
							<tr>
								<td>FOTO</td>
								<td><img th:if="${#strings.length(evento.foto)> 0}"
									class="img-thumbnail rounded float-left"
									style="max-width: 50%;"
									th:src="@{'/eventos/uploads/' + ${evento.foto}}"
									th:alt="${evento.foto}" /></td>
							</tr>
						</tbody>

					</table>

					<a th:href="@{/eventos/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Volver
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
